In [24]:
text ="python"
print(text[-3:-1])

ho

In [25]:
nishar = str("NISHAR")
print(nishar)
type(nishar)

NISHAR

str

In [26]:
dict={'name':'nishar', 'age':25, 'eligible':True}
# print(dict['eligible'])
# for i in dict.keys():
#     print(dict[i])
print(dict.popitem())
print(dict["age"])

('eligible', True)
25

In [27]:
numbers = [1, 2, 3, 4, 5]
squared = [i** 2 for i in numbers]
print(squared)

[1, 4, 9, 16, 25]

In [28]:
for i in range(6):
    print(i)
else:
    print("sorry")

0
1
2
3
4
5
sorry

In [29]:
char = '1'

unicode_value = ord(char)

char_again = chr(10)
unicode_value
char_again

'\n'

In [30]:
n = 5

for i in range(1, n + 1):

    for j in range(n - i):

        print(" ", end="")

    for k in range(2 * i - 1):

        print("*", end="")

    print()
for i in range(n - 1, 0, -1):

    for j in range(n - i):

        print(" ", end="")

    for k in range(2 * i - 1):

        print("*", end="")

    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [31]:
row = 1

while row <= 10:

    col = 1

    while col <= 10:

        product = row * col

        print(f"{col} * {row} = {product}\t", end="")

        col += 1

    print()

    row += 1

1 * 1 = 1	2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9	10 * 1 = 10
1 * 2 = 2	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18	10 * 2 = 20
1 * 3 = 3	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27	10 * 3 = 30
1 * 4 = 4	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36	10 * 4 = 40
1 * 5 = 5	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45	10 * 5 = 50
1 * 6 = 6	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54	10 * 6 = 60
1 * 7 = 7	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63	10 * 7 = 70
1 * 8 = 8	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72	10 * 8 = 80
1 * 9 = 9	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81	10 * 9 = 90
1 * 10 = 10	2 * 10 = 20	3 * 10 = 30	4 * 10 = 40	5 * 10 = 50	6 * 10 = 60	7 * 10 = 70	8 * 10 = 80	9 * 10 = 90	10 * 10 = 100

In [32]:
print(sum([1,2,4,5]))

12

In [33]:
student_scores = {"Alice": [85, 90, 88], "Bob": [92, 88, 94], "Charlie": [78, 85, 80]}

average_scores = {}


for student, scores in student_scores.items():
    print(student)

    print(student_scores[student])

    average = sum(scores) / len(scores)

    average_scores[student] = average
    


print("Average Scores:")

for student, average in average_scores.items():

    print(f"{student}: {average:.2f}")

Alice
[85, 90, 88]
Bob
[92, 88, 94]
Charlie
[78, 85, 80]
Average Scores:
Alice: 87.67
Bob: 91.33
Charlie: 81.00

In [34]:
def square(x):

    """This function calculates the square of a number."""

    result = x ** 2

    return result
square(5)

25

In [35]:
def add(*args):

    result = 0

    for num in args:

        result += num

    return result

print(add(1, 2, 3))

6

In [36]:

def display_info(**kwargs):

    for key, value in kwargs.items():

        print(f"{key}: {value}")

display_info(name="Alice", age=30, city="Wonderland")

name: Alice
age: 30
city: Wonderland

In [37]:
def calculate_total_price(item_prices, item_quantities):

    total = 0

    for price, quantity in zip(item_prices, item_quantities):

        total += price * quantity

    return total

prices = [10.99, 5.49, 2.99]

quantities = [3, 2, 4]

total_price = calculate_total_price(prices, quantities)

print(f"The total price is ${total_price:.2f}")

The total price is $55.91

In [38]:
stats = {

    "health": 100,

    "score": 0,

    "level": 1

}



def update_health(stats, damage):

    stats["health"] -= damage



def update_score(stats, points):

    stats["score"] += points



def level_up(stats):

    stats["level"] += 1

update_health(stats, 10)

update_score(stats,40)

level_up(stats)


print("Player Stats:")

print(f"Health: {stats['health']}")

print(f"Score: {stats['score']}")

print(f"Level: {stats['level']}")

Player Stats:
Health: 90
Score: 40
Level: 2

In [39]:
myList = ['A','B',"C","D"]
print(myList[::-1])
print(myList.pop())
Word = "ABCD"

for i in Word:
    print(i)
    if i == "A":
        print("There is A")

['D', 'C', 'B', 'A']
D
A
There is A
B
C
D

* Nested function

In [40]:
def outer_function(x):
    def inner_function(y):
        return (x+2*y) 
    return inner_function

c = outer_function(5)

print(c(6))

17

In [41]:
nested_matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

filtered_squared = [x**2 for row in nested_matrix for x in row ]#if (x % 2 == 0 for x in row)]
filtered_squared

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
nested_matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

filtered_squared = [i**2 for row in nested_matrix for i in row if i%2==0]#if any(i % 2 == 0 for i in row)]
filtered_squared

[4, 16, 36, 64]

In [43]:
nested_matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

filtered_squared = [i for row in nested_matrix for i in row]
filtered_squared

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
employees = []

def add_employee(employee_id, name, salary):
    employee = (employee_id, name, salary)
    employees.append(employee)

def total_salary():
    total = sum(employee[2] for employee in employees)
    return total

def highest_salary_employee():
    if not employees:
        return None
    return max(employees, key=lambda x: x[2])

add_employee(1, "Alice", 50000)
add_employee(2, "Bob", 60000)
# add_employee(3, "Charlie", 75000)

print("Total Salary:", total_salary())
print("Employee with Highest Salary:", highest_salary_employee())
type(highest_salary_employee)

Total Salary: 110000
Employee with Highest Salary: (2, 'Bob', 60000)

function

In [46]:
item_prices = {"apple": 1.0, "banana": 0.5, "orange": 1.2}
shopping_cart = []

#def add_to_cart(item, quantity):
    # if item in item_prices and quantity > 0:
    #     shopping_cart.append((item, quantity))
def calculate_total_price():
    total_price = sum(item_prices[item] * quantity for item, quantity in shopping_cart)
    # Apply a 10% discount if the total price is greater than 50
    if total_price > 50:
        total_price *= 0.9
    return total_price

add_to_cart('apple',2)
add_to_cart("banana", 2)
add_to_cart("orange", 1)
# print(type(shopping_cart[0]))

print(calculate_total_price())
# print(total_price)

IndentationError: expected an indented block after function definition on line 4 (2572657512.py, line 7)

In [ ]:
set1 = {1, 2, 3}
set1.discard()

set2 = {3, 4, 5}

set1 & set2 == set()

TypeError: set.discard() takes exactly one argument (0 given)

In [ ]:
lst1 = ['15','25','35']
lst1.append('32').sort()
print(lst1)

AttributeError: 'NoneType' object has no attribute 'sort'

In [ ]:
print(lst1)

['15', '25', '35', '32']

In [ ]:
a=2695656
b=2695656
a==b

True

In [ ]:
import seaborn as sns
data = sns.load_dataset("titanic")
data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
n=6
for i in range(n):
    print(i**2)

0
1
4
9
16
25

In [ ]:
# we have na unsorted array from 1 to 100 and there is 1 no missing find that no

In [ ]:
x = "abcdef"
y = ['g','h','a']
 
output = 'hfdb'

In [1]:
import numpy as np
ar1 = [3,7,10, 21,9,5,12]
arr1 = np.array(ar1)
dif = []
New_arr =[]
x = 0
Total_Cost = 0
print(arr1)
for i in range(len(arr1)-1):
    Total_Cost += abs(arr1[i]-arr1[i+1])**2
print(f"Total Cost = {Total_Cost}" )
for i in range(len(arr1)-1):
    x = abs(arr1[i] - arr1[i+1])
    dif.append(x)
print(dif)
M = max(dif)
In = dif.index(M)
if (arr1[In] - arr1 [In+1]) > 0: 
   New_arr = np.insert(arr1 , In + 1 , (arr1[In] - (M//2) ) )
elif (arr1[In] - arr1 [In+1]) < 0: 
    New_arr = np.insert(arr1 , In + 1, (arr1[In] + (M//2) ) )
print(New_arr)
New_Cost = 0
for i in range(len(New_arr)-1):
    New_Cost += abs(New_arr[i]-New_arr[i+1])**2
print(New_Cost)

[ 3  7 10 21  9  5 12]
Total Cost = 355
[4, 3, 11, 12, 4, 7]
[ 3  7 10 21 15  9  5 12]
283

In [10]:
def is_leap(year):
    if year %400 ==0:

        return True
    else: 
        return False

is_leap(1992)

False

In [15]:
n=8
for i in range (1,n+1):
    print(i,end='')

12345678

In [11]:
lst = ['a',  'c','b', 'd']
lst1 = [8, 7, 7, 6]
records= [[x, y]for x,y in zip(lst,lst1)]
z=min(lst1)
lst3=[[x,y]for x,y in zip(lst,lst1) if y!=z]
print(lst3)
lst5=[i[1] for i in (lst3)]
minu=min(lst5)
print(lst5)
lst4=[[x,y]for x,y in zip(lst,lst1) if y==minu ]
print(lst4)
names=[i[0] for i in lst4]
print(names)
sorted_names=sorted(names)
for i in sorted_names:
    print(i)

[['a', 8], ['c', 7], ['b', 7]]
[8, 7, 7]
[['c', 7], ['b', 7]]
['c', 'b']
b
c